.slate-demonstrations-student-competencycard {
    .stats-ct {
        display: none;
    }

    .cbl-level-progress-label:before {
        content: 'Working toward: ';
    }

    .cbl-level-progress-percent,
    .cbl-level-progress-missed {
        display: none;
    }

    .cbl-level-progress-bar {
        width: 100% !important;
    }
}